<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RayTrace Labs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% if not request.path.startswith('/admin') %}
        {% include 'partials/navbar.html' %}
    {% endif %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-wrap container">
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% if not request.path.startswith('/admin') %}
        {% include 'partials/footer.html' %}
    {% endif %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>